.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
  }

  &__content {
    display: flex;
    position: absolute;
    width: 75%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.2);
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s 0.2s;

    @include respond(tab-land) {
      flex-flow: column;
    }
  }

  &__left {
    width: 33.33333333%;

    @include respond(tab-land) {
      width: 100%;
      display: flex;
    }
  }
  &__right {
    width: 66.66666667%;
    padding: 1.5rem 5rem;

    @include respond(tab-land) {
      width: 100%;
      display: flex;
      flex-flow: column;
      align-items: center;
    }
  }
  &__img {
    display: block;
    width: 100%;

    @include respond(tab-land) {
      width: 50%;
    }
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;
    hyphens: auto;

    @include respond(tab-port) {
      margin-bottom: 2rem;
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: #777;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: $color-primary;
    }
  }
}
