*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px  10px/16px = 62.5%

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px  9px/16px = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px  8px/16px = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px  12px/16px = 75%
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
  box-sizing: border-box;

  @include respond(tab-port) {
    padding: 0;
  }
}
