.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-about__content {
  display: flex;
  justify-content: space-between;
  max-width: 114rem;
  margin: 0 auto;
}

.section-about__text {
  display: flex;
  flex-direction: column;
  width: calc((100% - 6rem) / 2);
  margin-right: 6rem;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  margin-top: -10rem;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}
